.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 400px;

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: 15px;
  }

  &__error {
    color: red;
  }
}
