.header {
  margin-bottom: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;

    .filter-btn {
      position: relative;
    }
  }

  &__buttons > :nth-child(3) {
    margin-left: auto;
  }
}
